Controller/routes/Interface/__pycache__/__init__.cpython-312.pyc
Controller/routes/__pycache__/__init__.cpython-312.pyc
Controller/routes/__pycache__/download.cpython-312.pyc
Controller/routes/Interface/__pycache__/request.cpython-312.pyc
